version: "3.8"

services:
  web:
    build: .
    container_name: absen_web
    ports:
      - "8688:80"
    volumes:
      - .:/var/www/html
      - /etc/localtime:/etc/localtime:ro
    networks:
      - appnet

networks:
  appnet:
    external: true
